:local(.InfoBox){
  background: #fff;
  border-radius: 10px;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 70%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
:local(.InfoBox:hover){
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
:local(.Title){
	font-family: roboto;
	color: #1111d9;
    font-size: 37px;
    text-align: center;
}
:local(.ShareVal){
    font-family: roboto;
    text-align: center;    
}
:local(.flexContainer){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}