:local(.InfoBoxes){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    max-width: 70%;
    align-self: auto;
}
:local(.Arrow){
    cursor: pointer;
    border: 1px solid;
    border-radius: 1px;
    font-size: 30px;
}